.Banners{
    display:flex;
    width:920px;
    margin:auto;
    flex-direction:column
}

.Banner{
    max-width:200px;
    width:100%;
    height:auto;
    background-color:aqua;
}

.h3{
 text-align:center;
}