.Tienda{
    max-width:920px;
    width:100%;
    height:auto;
    margin:auto;
    border-color:black;
    border-width:20px;
    border-radius:25px;
    padding:15px;
    border:solid;
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
    background-color: white;
}

