.Promociones{
    margin:auto;
    background-color:white;
    max-width:1000px;
    width: 100%;
    height:auto;

}


.carddeck{
    display:flex;
    flex-wrap:wrap !important;
    justify-content: space-around;
    max-width:1000px;
    width:100%;
    height:auto;
    margin:auto;
    padding:0px;
    margin-top:20px;
    margin-bottom:30px;
}

.boton{
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 30px;
}