.footer{
    background-color: black;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height:auto;
    width:100%;
    max-width:1000px;
    margin:auto;
}

.info2{
    color:white;
    font-family: 'Roboto';
    padding:10px;
    width:100%;
    max-width:300px;
    margin:auto;
}

.titulo{
    text-align:left;
    margin-bottom:3px;
}

.titulo2{
    text-align:left;
}

.forms{
    color:white;
    font-family:'Roboto';
    padding:10px;
    width:100%;
    max-width:300px;
    margin:auto;
    margin-bottom:10px;
}

.forms2{
    margin-bottom:60px;
}

.mail{
    color:white;
    font-family: 'Roboto';
    width:100%;
    max-width:300px;
    margin:auto;
}

.icons{
    display:flex;
    flex-wrap:wrap;
    margin-top:40px;
}

.icon{
    max-width:100px;
    height:auto;
    padding:10px;
}

.productos{
    margin:auto;
}

.carddeck{
    height:auto;
    width:100%;
    max-width:1000px;
    margin:auto;
    padding:30px
}

.margin{
    margin-bottom:4px;
}

.comercios{
    margin-top:0px;
}

.mensaje{
    margin-top:48px;
}