.Header{
    margin:auto;
    display:flex;
    flex-direction:column;
    max-width:1000px;
    width:100%;
    height:auto;
    background-color: white;
    margin-bottom:0px;
}

.logo1{
    margin:auto;
    max-width:500px;
    width:100%;
    height:auto;
}

.FormControl{
    width:100px;
}

.boton3{
    margin-left:8px !important;
}

.form1{
    display:flex;
    flex-wrap:nowrap;
}