header{
    background-image:url('./pizzaback2.jpg');
    background-repeat: no-repeat;
    display:flex;
    flex-direction:row-reverse;
    height: auto;
}

.botons{
    padding:100px;
}

.btn-dark{
    margin-left:10px;
}

.contraseña{
    text-align:right !important;
    
}