.Header{
    margin:auto;
    display:flex;
    flex-direction:column;
    max-width:1000px;
    width:100%;
    height:auto;
    margin-bottom:0px !important;
    background-color:white;
}

.logo1{
    margin:auto;
    max-width:500px;
    width:100%;
    height:auto;
}

.FormControl{
    width:100px;
}

.btn-light{
    margin-right:8px !important;
    text-align: center;
}

.form1{
    display:flex;
    flex-wrap:nowrap;
}

.caja{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    max-width:420px;
    width:100%;
    height:auto;
}