.pizzeria{
    margin:auto;
    max-width:1000px;
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:0px;
    align-items:center;
    background-color: white;
    padding:50px;
 
}

.imglogo{
    max-width:400px;
    width:100%;
    height: auto;
    display:flex;
    flex-wrap:nowrap;
}

.logo{
    width:150px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.descripcion{
    display:flex;
    flex-direction:column;
    justify-content: row;
    align-items: flex-start;
}

.boton8{
    max-width:150px;
    height:auto;
    width:100%;
    padding:10px;
}

.clase{
    display:flex;
    width:30px;
}

h6{
    color:green;
}

.fork{
    height:auto;
    width:30px;
}

@media screen and (max-width: 600px) {
    .Pizzeria{
        display:flex !important;
        justify-content:space-between !important;
    }
  }