.ProductoModal{
    display:flex;
    margin:auto;
    max-width:400px;
    height:150px;
    background-color: white;
    flex-wrap:nowrap;
    justify-content: space-around;
    margin:auto;
    color:black;
    padding:20px;
}

.info{
    display: flex;
    flex-direction:column;
    color:black !important;
    width:150px;
}

.imagen{
    height:100px;
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.boton4{
    background-color:#F9E79F;
    border-radius:3px !important;
    border-color:#F9E79F;
    margin:0px !important;
}

.botonComprar{
    width:103px;
    display:flex;
    justify-content: center;
}



