.Promociones{
    margin:auto;
}

.carddeck{
    height:auto;
    width:100%;
    max-width:1000px;
    margin:auto;
    padding:0px;
   
}


.boton{
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 30px;
}