.Verpedido{
    position:fixed;
    top: 0;
    margin-left:15px;
    margin-top:5px;
    cursor: pointer;
    padding:10px;
    background-color:none;
    z-index:1000;
}

#letras{
    color:black,
}