.Verpedido{
    position:fixed;
    top: 0;
    margin-left:28px;
    margin-top:5px;
    cursor: pointer;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:wheat;
}